<!DOCTYPE html>
<html>
		<head>
				<meta charset="UTF-8" />
				<title>jerico.xyz</title>
				<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
				<meta property="og:title" content="jerico.xyz">
				<meta property="og:description" content="Jerico's personal website.">
				<meta name="twitter:title" content="jerico.xyz">
				<meta name="twitter:description" content="Jerico's personal website.">
		</head>
		<body>
				<div id="root"></div>

				<!-- Dependencies -->
				<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
				<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

				<!-- Main -->
				<script src="./static/main-0.0.2.js"></script>
		</body>
		<style>
				html, body, #root {
						width: 100vw;
						height: 100vh;
						margin: 0;
						padding: 0;
						overflow-y: auto;
						overflow-x: auto;
				}
		</style>
</html>