<!DOCTYPE html>
<html>
		<head>
				<meta charset="UTF-8" />
				<title>jerico.xyz</title>
				<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
				<meta property="og:title" content="Jerico Alcaras">
				<meta property="og:description" content="Jerico's personal website.">
				<meta property="og:image" content="../static/img/jerico-2019-460x460.png">
				<meta property="og:url" content="https://jerico.xyz">
				<meta name="twitter:title" content="Jerico Alcaras">
				<meta name="twitter:description" content="Jerico's personal website.">
				<meta name="twitter:image" content="../static/img/jerico-2019-460x460.png">
				<meta name="twitter:card" content="summary_large_image">
				<meta name="theme-color" content="#03a9f4">
				<link rel='icon' href='../static/img/favicon.ico' type='image/x-icon'/ >
		</head>
		<body>
				<div id="app"></div>
				<!-- Main -->
				<script src="{{ .bundleURL }}"></script>
		</body>
		<style>
				html {
						width: 100%;
						height: 100%;
						margin: 0;
						padding: 0;
						overflow-y: auto;
						overflow-x: hidden;
						scroll-behavior: smooth;
				}
				body {
						height: 100%;
				}
		</style>
</html>