<!DOCTYPE html>
<html>
		<head>
				<meta charset="UTF-8" />
				<title>jerico.xyz</title>
				<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
				<meta property="og:title" content="jerico.xyz">
				<meta property="og:description" content="Jerico's personal website.">
				<meta name="twitter:title" content="jerico.xyz">
				<meta name="twitter:description" content="Jerico's personal website.">
				<meta name="theme-color" content="#f44336">
				<link rel='icon' href='../static/img/favicon.ico' type='image/x-icon'/ >
		</head>
		<body>
				<div id="root"></div>

				<!-- Dependencies -->
				<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
				<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
				<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/three.js/92/three.min.js"></script>
				<script crossorigin src="https://cdn.jsdelivr.net/gh/tengbao/vanta@master/dist/vanta.birds.min.js"></script>


				<!-- Main -->
				<script src="./static/bundle/main-{{ .packageVersion }}.js"></script>
		</body>
		<style>
				html, body, #root {
						width: 100vw;
						height: 100vh;
						margin: 0;
						padding: 0;
						overflow-y: auto;
						overflow-x: auto;
				}
		</style>
</html>